templates/pl_Evaalucion_Stock_History/pl_Evaalucion_Stock_History.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"db_": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_Evaalucion_Stock_History')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEaach_datos",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "DIEZ PRIMEROS DATOS",
								"type": "Expression"
							},
							"batchCount": 10
						}
					},
					{
						"name": "CONDICIONAL IF",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ForEaach_datos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": []
					},
					{
						"name": "Todo",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CONDICIONAL IF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": []
					},
					{
						"name": "Fecha",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CONDICIONAL IF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": []
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "EVALUACION"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('db_')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Examen"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idIngesta",
						"type": "varchar"
					},
					{
						"name": "esquema",
						"type": "varchar"
					},
					{
						"name": "tabla",
						"type": "varchar"
					},
					{
						"name": "consulta",
						"type": "varchar"
					},
					{
						"name": "tipoTabla",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "par",
					"table": "CatIngesta"
				}
			},
			"dependsOn": []
		}
	]
}